.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.background {
    position: fixed;
    top: 0;
    left: 224px;
    height: 100%;
    width: 100%;
    background: #20262B;
    opacity: 0.5;
}

.panelLeft {
    width: 224px;
    height: 100%;
    background: #404064;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.3);
}

.btn {
    position: relative;
    padding:18px 0px; 
    height: 24px;
    width: 100%;
    cursor: pointer
}

.btnMenu {
    background: #535374;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.btnMenuText {
    position: relative;
    display: inline-block;
    left: 36px;
}

.btnMenuIcon {
    position: relative;
    display: inline-block;
    left: 24px;
}

.btnMenuTextOth {
    position: relative;
    display: inline-table;
    margin-bottom: 14px;
    vertical-align: middle;
    left: 36px;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    color: #FFFFFF;
}

