.process {
    position: relative;
    min-width: calc(260px*4);
    margin: 12px 22px; 
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.processHeader {
    padding: 11px 24px;
    border-bottom: 1px solid #D6DCE9;
}

.processName {
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
    color: #6879BB;
}

.linkToMap {
    position: absolute;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    top: 24px;
    right: 22px;
    opacity: 0.5;
    color: #6879BB;
}

.processInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 36px 24px;
}

.infoColumn {
    min-width: 261px;
    height: 120px;
}


.infoBlockFirst {
    position: relative;
    top: 29px;
}

.infoBlockSecondToFifth {
    position: relative;
    margin-bottom: 23px;
}

.infoBlock {
    margin: 6px 0px;
}

.dataNumberOfExecutions {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #535374;
    margin-left: 12px;
}

.footnote {
    font-size: 12px;
    line-height: 24px;
    margin-left: 36px;
    color: #999999;
}

.infoBlockMainData {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.dataOth {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-left: 12px;
    color: #535374;
}

.infoTime {
    font-size: 12px;
    line-height: 24px;
    margin: 3px 0px 12px 0px;
}

.noteTime {
    color: #999999;
    display: inline-block;
    width: 67px;
}

.dataTime {
    margin-left: 20px;
}

