.process {
    width: calc(100% - 44px);
    position: relative;
    margin: 6px 22px; 
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.processHeader {
    padding: 12px 24px;
}

.processName {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;

color: #6879BB;
}

.linkToMap {
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    top: 24px;
    right: 22px;
    
    opacity: 0.5;
    color: #6879BB;
}