.back {
    background: linear-gradient(213.53deg, #6879BB 7.06%, #9300BB 95.23%);
    height: 100%;
    width: 100%;
    position: fixed;
}

.content {
    background: white;
    position: relative;
    top: 112px;
    width: 424px;
    margin: 0 auto;
    min-height: calc(100% - 112px);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    box-sizing: border-box;
}