.formLayout {
    background: white;
    position: relative;
    top: 112px;
    width: 424px;
    margin: 0 auto;
    height: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    box-sizing: border-box;
}

.error {
    background: #ffe9db;
    padding: 36px 48px 36px 120px;
}

.formContent {
    padding-top: 36px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 24px;
}
