.inputBlock {
    position: relative;
    display: block;
    margin-bottom: 16px;
    max-width: 720px;
}

input {
    background: #FFFFFF;
    border: 1px solid #D6DCE9;
    box-sizing: border-box;
    border-radius: 4px;
    color: #6879BB;  
    line-height: 24px;
}

input::placeholder {
    color: #CCCCCC;
}

input:hover {
    border: 1px solid #415FD5;
}

label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 32px;
    align-items: center;
    
    color: #999999;
}

.inputWithoutLabel {
    width: 100%;
    padding: 5px 35px 5px 11px;
    margin-bottom: 12px;
    outline: none;         
}

.inputWithLabel {
    position: absolute;
    left: 260px;
    width: 435px;
    height: 36px;
    padding: 5px 0px 7px 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    align-items: center;
}



.errorMessageWithLabel {
    position: absolute;
    display: block;
    top: 24px;
    left: 267px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    align-items: center;
    color: #EE4141;
    background: #ffffff
}

.errorMessageWithoutLabel {
    position: absolute;
    display: block;
    top: 36px;
    left: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    align-items: center;
    color: #EE4141;
}



