.input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D6DCE9;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px 35px 5px 11px;
    line-height: 24px;
    margin-bottom: 12px;
    color: #6879BB;  
    outline: none;         
}

.sizeInput {
    width: 40;
}

.input::placeholder {
    color: #CCCCCC;
}

.input:hover {
    border: 1px solid #415FD5;
}

label {
    padding-top: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 32px;
    align-items: center;
}


