.mainPage {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    padding-top: 10px;
}

::-webkit-scrollbar {
    width: 12px;
    background: #AFB9D7;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #8B99C9;
    border-radius: 20px;
    height: 266px;
}

.background {
    background: #EBF2FB;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 60px;
    left: 0px;
}