.background {
    background: #EBF2FB;
    height: 100%;
    width: 100%;
    position: fixed;
}

.userHeader {
    position: relative;
    top: 24px;
    box-sizing: border-box;
    margin: 0px 0px 0px 22px;
}

.userName {
    position: relative;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 48px;
    align-items: center;

    color: #404064;
}



.userData {
    position: relative;
    top: 36px;
    box-sizing: border-box;
    margin: 0px 22px ;
    padding: 24px;

    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
